<h1>REALLY STUPID COACHING</h1>
<h3>Ask your coach anything</h3>

<form action="/answer" method= "get">
  <input type="text" name="answer" placeholder= "What will you do today?">
  <input type="submit"  value="ask!">
</form>
